table{
    margin-left:auto;
    margin-right: auto;
	font-weight:bold;
	border-collapse: collapse;
 	border: 1px solid #00cccc;
  	border-bottom: 2px solid #00cccc;
}

td, tr{
	color: #00cccc;
	border: 1px solid black;
	padding: 12px 35px;
}

img{
	height:300px;
	width:300px;
	border-radius:50%;
}
body{
	text-align:center;
}
